.Yui{
	background-color: darkred;
}
.yae{
	background-color: pink;
}
.dispear{
	font-size: 45px;
	font-style: verdana;
}
.time{
	font-size: 30px;
	color: black;
	font-style: verdana;
}
.lilina{
	background-color: #336699;
	font-style: verdana;
}
.chan{
	font-family: Verdana;
	margin: 5px;
	color: darkblue;